<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Pertinance</a>
    <ul>
      <li><a href="/docs">DOCuments</a></li>
      <li><a href="/docs/new">Add DOCument</a></li>
      <li><a href="/flds">FieLDs</a></li>
      <li><a href="/flds/new">Add FieLD</a></li>
      <li><a href="/kwds">KeyWorDs</a></li>
      <li><a href="/kwds/new">Add KeyWorD</a></li>
      <li>
        <a href="/maps">Mappings keyWords-Documents</a>
      </li>
      <li><a href="/maps/new">Add Mapping</a></li>
      <li><a href="/candidates">Boond Candidates</a></li>
    </ul>
  </nav>
</header>
