<header>
  <nav>
    <a href="/">Pertinance</a>
    <ul>
      <li><a href="/docs">DOCuments</a></li>
      <li><a href="/docs/new">Add DOCument</a></li>
      <li><a href="/flds">FieLDs</a></li>
      <li><a href="/flds/new">Add FieLD</a></li>
      <li><a href="/kwds">KeyWDs</a></li>
      <li><a href="/docs/new">Add KeyWorD</a></li>
    </ul>
  </nav>
</header>
