<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Pertinance</a>
    <ul>
      <li><a href="/docs">DOCuments</a></li>
      <li><a href="/flds">FieLDs</a></li>
      <li><a href="/kwds">KeyWorDs</a></li>
      <li><a href="/maps">Mappings</a></li>
      <li><a href="/candidates">Boond Candidates</a></li>
    </ul>
  </nav>
</header>
