<header>
  <nav>
    <a href="/">Pertinance</a>
    <ul>
      <li><a href="/docs">DOCuments</a></li>
      <li><a href="/docs/new">Nouveau DOCument</a></li>
      <li><a href="/flds">FieLDs</a></li>
      <li><a href="/flds/new">Add FieLD</a></li>
      <li><a href="/kwds">Mot-clé</a></li>
      <li><a href="/kwds/new">Nouveau mot-clé</a></li>
    </ul>
  </nav>
</header>
