<header>
  <nav>
    <a href="/">Pertinance</a>
    <ul>
      <li><a href="/docs">DOCuments</a></li>
      <li><a href="/docs/new">Nouveau DOCument</a></li>
      <li><a href="/flds">FieLDs</a></li>
      <li><a href="/flds/new">Add FieLD</a></li>
      <li><a href="/kwds">Mots-clé</a></li>
      <li><a href="/kwds/new">Nouveau mot-clé</a></li>
      <li><a href="/maps">Mappings Mot-clé-Documents</a></li>
      <li><a href="/maps/new">Nouveau mapping mot-doc</a></li>
      <li><a href="/candidates">Candidats</a></li>
    </ul>
  </nav>
</header>
