<h2>Edit KeyWorD <%= kwd.id %></h2>
<form action="/kwds/<%= kwd.id %>" method="POST">
  <%- include('_form_fields',{ kwd: kwd })%>
  <a href="/kwds">Cancel</a>
  <button type="submit">Uodate</button>
</form>
