<h2>Tous les Candidates</h2>
<% if (candidates && candidates.length) { %> <% candidates.forEach(candidate =>
{ %>
<div><%= candidate.Candidate_ID %></div>
<div><%= candidate.firstName %></div>
<div><%= candidate.lastName %></div>
<div><%= candidate.email1 %></div>
<br />
<% }) %> <% } else { %>
<div>No candidates found.</div>
<% } %>
