:root {
  font-family: 'Gotham Rounded';
  font-size: 20px;
  color: var(--color-text-light);
  --list-link-font-weight:300;
}

.list-link a {
  text-decoration: none;
  color: var(--color-text-light);
  font-weight: var(--list-link-font-weight);
  padding: 1rem;
  font: 'Gotham round';
}

.list-link a:hover, .header-title:hover {
  color: white;
}