<h2 class="page-header">New FieLD</h2>
<form action="/flds" method="POST">
  <%- include('_form_fields')%>
  <a class="btn btn-primary" href="/flds">Cancel</a>
  <button class="btn btn-primary" type="submit">Create</button>
</form>
