<h2 class="page-header">Field : <%= fld.field %></h2>
<div><a href="/kwds/new">Add more KeyWords</a></div>
<div>
  <a href="/flds/<%= fld.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm',{url:`/flds/${fld.id}`}) %>
</div>
<% if (kwdsByFld.length > 0) { %>
<h3 class="page-header">Keywords By Field</h3>
<%- include('../partials/kwdList', { kwds: kwdsByFld }) %> <% } %>
