<div>
  <label>Id_Doc</label>
  <input type="number" name="Id_Doc" min="1" value="<%= doc.Id_Doc %>" />
</div>
<div>
  <label>docName*</label>
  <input type="text" name="docName" value="<%= doc.docName %>" />
</div>
<br />
<div>
  <label>docText</label>
  <textarea type="text" name="docText"><%= doc.docText %></textarea>
</div>
<br />
<div>
  <label>docElement</label>
  <input type="text" name="docElement" value="<%= doc.docElement %>" />
</div>
