<label>Id_Doc</label>
<input type="number" name="Id_Doc" value="<%= doc.Id_Doc %>" />
<label>docName*</label>
<input type="text" name="docName" value="<%= doc.docName %>" />
<br />
<label>docText</label>
<input type="text" name="docText" value="<%= doc.docText %>" />
<br />
<label>docElement</label>
<input type="text" name="docElement" value="<%= doc.docElement %>" />
