<h2>Search DOCs</h2>
<form action="/docs" method="GET">
  <label>DocName</label>
  <input type="text" name="docName" value="<%= searchOptions.docName %>" />
  <br />
  <label>DocText</label>
  <input type="text" name="docText" value="<%= searchOptions.docText %>" />
  <br />
  <button type="submit">Search</button>
</form>
<br />
<% docs.forEach(doc => { %>
<div><%= doc.docName %></div>
<div><%= doc.docText %></div>
<% }) %>
