<h2>Search DOCs</h2>
<form action="/docs" method="GET">
  <label>DocName</label>
  <input type="text" name="docName" />
  <button type="submit">Search</button>
</form>
<br />
<% docs.forEach(doc => { %>
<div><%= doc.docName %></div>
<% }) %>
