<h2 class="page-header">New DOC</h2>
<form action="/docs" method="POST">
  <div class="form-row form-row-end btn-row">
    <%- include('_form_fields')%>
    <a href="/docs">Cancel</a>
  </div>
  <button type="submit">Create</button>
</form>
